.navbar {
  background: #fff;
  border-bottom: 1px solid #000;
  

}




 .logo-text {
  font-size: 30px;
  font-weight: bold;
  color:#eb5424
};
.nav-link{
  font-weight: bolder;}
.nav-link:focus, .nav-link:hover {
  color: #F44336;
}.nav-link:focus, .nav-link:hover {
  color: #F44336;
  
}
.navbar-nav{
  font-weight: bolder;

}

.navbar-toggler{


}

.navbar-toggler:focus{
  border:2px solid #F44336;
  box-shadow: 0 0 0 #F44336;
}
@media(max-width:570px){
  .text-landing{
    width:100%;
  }
}